@import url("./init.css");
@import url('./header.css');
@import url('./footer.css');

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    color: var(--noir);
}

form{
    border: 1px solid var(--vert-sombre);
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

form > div {
    /* border: 1px solid red; */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form > div > input{
    /* width: ; */
    /* border: 1px solid blue; */
    width: 100%;
    padding: 4px;
    font-size: medium;
    color: var(--vert-clair);
}
form > div:nth-child(6){ 
    display: flex;
    flex-direction: column;
}
.checkbox{
    /* display: inline-block; */
    border: 1px solid blue;
    margin-left: 2%;
}

form > div:nth-child(7) > button{
    /* border: 1px solid red; */
    margin-left: auto;
    padding: 4px;
    width: 25%;
    padding-inline: 10px;
    background-color: var(--vert-sombre);
    color: var(--blanc-clair);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form > div:nth-child(7) > button:hover{
    background-color: var(--vert-clair);
}

.red-text{
    color: var(--rouge);
}
.green-text{
    color: var(--vert-clair);
}

.msg-container{
    font-size: small;
    font-style: italic;
    width: 70%;
    max-width: 400px;
}

.msg-item{
    color: var(--rouge);
    padding: 4px;
}

.error{
    color: var(--rouge);
}

.success{
    list-style-type: none;
    color: var(--vert-clair);
}

button.error a{
    text-decoration: none;
    color: inherit;
}

.image-visualizer{
    width: 90%;
    height: auto;
}