@import url("./init.css");
@import url("./header.css");
@import url("./footer.css");


.main-container{
    color: var(--blanc-clair);
    height: max-content;
    display: grid;
    grid-template-columns: 220px auto;
}
/* partie de gauche */
.aside-nav{
    background-color: var(--vert-sombre);
    padding-top: 20px;
    float: left;
    height: calc(100vh - 40px);
}
.aside-nav .section-title{
    margin-top: 5vh;
    padding: 4px;
}
.aside-nav .item-container{
    list-style-type: none;
}
.aside-nav .item-container .item-list a{
    color: var(--noir);
    font-size: small    ;
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    width: calc(100% - 8px);
    height: 100%;
    text-align: left;
    background-color: var(--vert-sombre);
    border: none;
    border-top: 1px solid var(--vert-clair);
}
.aside-nav .item-container .item-list:last-child a{
    border-bottom: 1px solid var(--vert-clair);
}
.aside-nav .item-container .item-list a:hover{
    background-color: var(--vert-clair);
    cursor: pointer;
}

/* user section */
.user-info{
    margin-top: 10vh;
    width: 100%;
}

.user-info h1{
    padding: 10px;
    margin-bottom: 70px;
    color: var(--noir);
    text-align: center;
}
.user-info-raws .profile-picture{
    /* border: 1px solid var(--vert-sombre); */
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50% 50%;
    transform: translateY(-50%);
    z-index: 1;
    box-shadow: 4px 4px 8px var(--vert-sombre);
}

.user-info-raws{
    padding: 4px;
    color: var(--noir);
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    margin: auto;
    border: 1px solid var(--vert-clair);
}

.user-info-raws .user-info-item{
    border-top: 1px solid var(--vert-sombre);
    padding: 4px;
}