@import url(init.css);

html {
    background-color: var(--vert-sombre);
}

.logo {
    text-align: center;
    margin-top: 5%;
    font-size: large;
}

.logo > img {
    width: 35%;
    height: 35%;
    image-rendering: crisp-edges;
}

.texte {
    font-size: large;
    color: var(--blanc-clair);
    text-align: center;
    margin-top: 3%;
}

.infos {
    display: grid;
    grid-template-columns: auto 25% auto;
    text-align: center;
    color: var(--blanc-clair);
}

.infos > form {
    border: 5px solid var(--blanc-clair);
    margin-top: 20%;
}

.info {
    font-size: 150%;
    margin: 30px;
}

button {
    display: inline-block;
    background-color:var(--vert-sombre);
    color:var(--blanc-clair);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: var(--vert-clair);
}

@media screen and (max-width:992px) {
    .infos {
        grid-template-columns: auto 60% auto;
    }
}