/* ceci est le css de la barre de nagivation *

/*-------------- barre de navigation */
.nav-bar{
    background-color: var(--vert-sombre);
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--vert-clair);
    position: fixed;
    z-index: 1;

    animation: scroll-header-effect 1ms forwards;
    animation-timeline: scroll();
}

@keyframes scroll-header-effect {
    from{
        position: relative;
    }

    to{
        position: fixed;
    }
}

.nav-bar .logo{
    float: left;
}

/* lients de  nav */

.nav-bar .links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    width: 350px;
    font-size:small;
    margin-left: auto;
    margin-right: auto;
}
.nav-bar .links li :hover{
    border-bottom: 2px solid white;
}
.nav-bar .links li a{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 10px;

}

/* partie comptes et panier */
.user-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    float: right;
    list-style-type: none;
    margin-right: 20px;
}
.user-panel li{
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.user-panel li a{
    display: block;
    height: 100%;
    margin: auto;
}
.user-panel li a img{
    width: 20px;
    height: auto;
}


/* mobile version::: */

@media screen and (max-width: 420px) {
    .nav-bar{
        flex-direction: column;
        /* height: 80px;     */
        height: auto;
        width: 100vw;
    }

    .nav-bar .logo{
        width: 50%;
        height: auto;
        margin-inline: auto;
    }

    .nav-bar .links{
        width: 90vw;
        margin: auto;
    }

    .user-panel{
        width: fit-content;
        margin-left: auto;
    }
}