/* textes sur la 1ere section */
@import url("./init.css");
@import url('./header.css');
@import url('./footer.css');

.light-green-text{
    color: var(--vert-clair);

}

.white-text{
    color: var(--blanc-clair);
}

.grey-text{
    color: var(--gris);
}

header{
    background-color: var(--vert-sombre);
    min-height: 80vh;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}
header .left-part{
    width: 50%;
    padding-left: 5%;
}
header .left-part h1{
    font-size: 3.9rem;
    width: 90%;
}
header .left-part h1 span{
    display: block;
}
header .left-part .go-to-shop-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--blanc-clair);
    color: var(--blanc-clair);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* right part of the site */
.right-part{
    width: 50%;
    /* height: 60%; */
}
.circle{
    background-color: var(--vert-clair);
    margin-left: auto;
    margin-right: auto;
    border-radius: 48% 48%;
}

.circle-1{
    /* width: 70%;
    height: 30%; */
    width: 400px;
    height: 127px;
    margin-top: 5%;
}
.circle-2{
    /* width: 60%;
    height: 25%; */
    width: 341px;
    height: 110px;
    margin-top: -2%;
    transform: translateX(-5%);
}
.circle-3{
    /* width: 30%;
    height: 20%; */
    width: 170px;
    height: 82px;
    margin-top: -2%;
    transform: translateX(-20%);
}

/* section cathegories */
.section-title{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}
.section-title-line{
    display: inline-block;
    width: 75vw;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--vert-sombre);
}

/* liste des cathgories */
.categories-container{
    /* border: 1px solid red; */
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
.categories-item{
    border: 1px solid var(--vert-clair);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;
}
.categories-item a{
    text-decoration: none;
}
.categories-item-img{
    margin-left: auto;
    margin-right: auto;

    height: 90%;
    border-radius: 10px 10px 0px 0px;
}
.categories-item-name{
    background-color: var(--vert-sombre);
    text-align: center;
    color: var(--blanc-clair);
    margin-top: auto;
    border-radius: 0px 0px 10px 10px;
}

/* section à propos */
.about-section{
    text-align: justify;
    font-size: smaller;
    font-weight: 100;
    padding: 20px;
}

/* media querries */


@media screen and (max-width: 425px) {
    header{
        width: 100vw;
        height: auto;
    }
    header .right-part{
        position: absolute;
        margin-inline: auto;
        width: 100vw;
        display: none;
    }
    header .left-part{
        width: 100%;
        /* position: absolute; */
        margin-inline: auto;
    }

    header .left-part h1 span{
        display: inline-block;
    }

    header .left-part h1{
        font-size: 2.4rem;
        width: 90%;
    }
    header .left-part .go-to-shop-btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header .left-part > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .categories-container{
        padding: 10px;
        flex-direction: column;
        margin-inline: auto;
    }

    .categories-container .categories-item{
        /* margin: auto; */
        margin-right: 0;
        margin-left: auto;
        margin-top: 20px;
    }

    .categories-container .categories-item:nth-child(odd){
        margin-left: 0;
        margin-right: auto;
    }

    .section-title{
        font-size: large;
        color: var(--vert-clair);
    }

    .section-title .section-title-line{
        display: none;
    }
}